

<link rel="stylesheet" href="/stylesheets/userprofile.css">

<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary" style="position: sticky; top: 0%;">   
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-circle"></i>My Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orderDetails">
                           <i class="bi bi-border-width"></i> My Order
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/userCoupons">
                            <i class="bi bi-bookmarks"></i> Coupons
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <i class="bi bi-people"></i> Logout
                        </a>
                    </li>
                </ul>
             
                <!-- Push content down -->
                <div class="mt-auto"></div>
                <!-- User (md) -->
                <ul class="navbar-nav">
                </ul>
            </div>
        </div>
    </nav>
</div>