<div class="col-lg-3 d-sm-block d-none  my-lg-0 my-md-1">
    <div id="sidebar" class="bg-dark">
        <div class="h4 text-white">Account</div>
        <ul>
            <li>
                <a href="/profile" class="text-decoration-none d-flex align-items-start text-white">
                    <span class="material-icons-sharp pt-1  me-3">manage_accounts</span>
                    <div class="d-flex flex-column">
                        <div class="link">My Account</div>
                        <div class="link-desc">View & Manage your account</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/orders" class="text-decoration-none d-flex align-items-start text-white">
                    <span class="material-icons-sharp pt-1 me-3">all_inbox</span>
                    <div class="d-flex flex-column">
                        <div class="link">My Orders</div>
                        <div class="link-desc">View & Manage orders and returns</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/address_book" class="text-decoration-none d-flex align-items-start text-white">
                    <span class="material-icons-sharp pt-1 me-3">contact_mail</span>
                    <div class="d-flex flex-column">
                        <div class="link">Address Book</div>
                        <div class="link-desc">View & Manage Addresses</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/coupons" class="text-decoration-none d-flex align-items-start text-white">
                    <span class="material-icons-sharp pt-1 me-3">discount</span>
                    <div class="d-flex flex-column">
                        <div class="link">Coupons</div>
                        <div class="link-desc">Checkout new coupons</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#" class="text-decoration-none d-flex align-items-start text-white">
                    <span class="material-icons-sharp pt-1 me-3">support_agent</span>
                    <div class="d-flex flex-column">
                        <div class="link">Help & Support</div>
                        <div class="link-desc">Contact Us for help and support</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/logout" class="text-decoration-none d-flex align-items-start text-danger px-3">
                    <span class="material-icons-sharp">logout</span>
                    <div class="d-flex flex-column">
                        <div class="link ">Logout</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<aside class=" show d-sm-none d-block navbar-vertical h-lg-screen  px-0  navbar-light bg-white border-bottom "
    id="navbarVertical">
    <div class="container-fluid d-sm-4">
        <!-- Toggler -->
        <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"
            aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->

        <!-- User menu (mobile) -->
        <div class="navbar-user d-sm-none">
            <!-- Dropdown -->
           
                <!-- Menu -->
                <div class="dropdown col-lg-3 my-lg-0 my-md-1">
                    <div id="sidebar" class="bg-dark">
                        <div class="h4 text-white">Account</div>
                        <ul>
                            <li>
                                <a href="/profile" class="text-decoration-none d-flex align-items-start text-white">
                                    <span class="material-icons-sharp pt-1  me-3">manage_accounts</span>
                                    <div class="d-flex flex-column">
                                        <div class="link">My Account</div>
                                        <div class="link-desc">View & Manage your account</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/orders" class="text-decoration-none d-flex align-items-start text-white">
                                    <span class="material-icons-sharp pt-1 me-3">all_inbox</span>
                                    <div class="d-flex flex-column">
                                        <div class="link">My Orders</div>
                                        <div class="link-desc">View & Manage orders and returns</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/address_book"
                                    class="text-decoration-none d-flex align-items-start text-white">
                                    <span class="material-icons-sharp pt-1 me-3">contact_mail</span>
                                    <div class="d-flex flex-column">
                                        <div class="link">Address Book</div>
                                        <div class="link-desc">View & Manage Addresses</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/coupons" class="text-decoration-none d-flex align-items-start text-white">
                                    <span class="material-icons-sharp pt-1 me-3">discount</span>
                                    <div class="d-flex flex-column">
                                        <div class="link">Coupons</div>
                                        <div class="link-desc">Checkout new coupons</div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="text-decoration-none d-flex align-items-start text-white">
                                    <span class="material-icons-sharp pt-1 me-3">support_agent</span>
                                    <div class="d-flex flex-column">
                                        <div class="link">Help & Support</div>
                                        <div class="link-desc">Contact Us for help and support</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/logout"
                                    class="text-decoration-none d-flex align-items-start text-danger px-3">
                                    <span class="material-icons-sharp">logout</span>
                                    <div class="d-flex flex-column">
                                        <div class="link ">Logout</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        <!-- Collapse -->
        {{!-- <div class="collapse navbar-collapse" id="sidebarCollapse">
            <!-- Navigation -->
            <div id="sidebar" class="bg-dark">
                <div class="h4 text-white">Account</div>
                <ul>
                    <li>
                        <a href="/profile" class="text-decoration-none d-flex align-items-start text-white">
                            <span class="material-icons-sharp pt-1  me-3">manage_accounts</span>
                            <div class="d-flex flex-column">
                                <div class="link">My Account</div>
                                <div class="link-desc">View & Manage your account</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/orders" class="text-decoration-none d-flex align-items-start text-white">
                            <span class="material-icons-sharp pt-1 me-3">all_inbox</span>
                            <div class="d-flex flex-column">
                                <div class="link">My Orders</div>
                                <div class="link-desc">View & Manage orders and returns</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/address_book" class="text-decoration-none d-flex align-items-start text-white">
                            <span class="material-icons-sharp pt-1 me-3">contact_mail</span>
                            <div class="d-flex flex-column">
                                <div class="link">Address Book</div>
                                <div class="link-desc">View & Manage Addresses</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/coupons" class="text-decoration-none d-flex align-items-start text-white">
                            <span class="material-icons-sharp pt-1 me-3">discount</span>
                            <div class="d-flex flex-column">
                                <div class="link">Coupons</div>
                                <div class="link-desc">Checkout new coupons</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none d-flex align-items-start text-white">
                            <span class="material-icons-sharp pt-1 me-3">support_agent</span>
                            <div class="d-flex flex-column">
                                <div class="link">Help & Support</div>
                                <div class="link-desc">Contact Us for help and support</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/logout" class="text-decoration-none d-flex align-items-start text-danger px-3">
                            <span class="material-icons-sharp">logout</span>
                            <div class="d-flex flex-column">
                                <div class="link ">Logout</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div> --}}
    </div>
</aside>