
<link rel="stylesheet" href="/stylesheets/changePassword.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<div class="mainDiv">
  <div class="cardStyle">
    <form  id="signupForm">
      <h2 class="formTitle">
        Change Password 
      </h2>

      <div class="inputDiv">
        {{#if passwordErr}}
        <small class="text-danger inputLabel">Incorrect Password</small>
      {{/if}}
        <label class="inputLabel" for="password">Current Password</label>
        <input
          type="password"
          id="currentPassword"
          name="currentPassword"
          
        />
         <small class="text-danger px-2" id="CurrentPasswordErr"></small>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" />
               <small class="text-danger px-2" id="newPasswordErr"></small>

      </div>
      
      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Comfirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" />
                <small class="text-danger px-2" id="conirmPasswordErr"></small>

      </div>

      <div class="buttonWrapper">

        <button
          type="submit"
          id="submitButton"
          class="submitButton pure-button pure-button-primary"
        >
          <span>Continue</span>

        </button>

      </div>

    </form>
  </div>
</div>

 {{>footer}}