{{>userNavbar}}

<div class="d-flex " style="margin-bottom: 3rem;">
  <div class="" style="width: 50% ;height:30rem;">
    <div class="d-flex justify-content-center"><img style="margin-top: 12rem;" src="images/logo.png" alt=""></div>
  </div>

  <div class="" style="width: 50%;background-color:#DEEFF4">
    <h1 class="d-flex  justify-content-center" style="margin-top: 10rem;margin-bottom: 1rem;"><b>STICKERS ARE<br> THE
        NEW COOL</b></h1>
    <button type="button" class="btn btn-dark " style="margin-left: 14rem;">BUY NOW</button>
  </div>
</div>



<div>
  <div style=" background-color:#DEEFF4; height:25rem; margin-bottom: 3rem;" class="w-100% d-flex">

  </div>
</div>