




<div class="d-flex justify-content-center align-items-center  vh-100 vw-100" style="background-color: rgb(0, 0, 0);">
        <div class="card py-5 px-3 d-flex justify-content-center align-items-center">
                <h5 class="">Email verification</h5><span style="color: black;">Enter the code we just send on your Email
                         </span>
                        <div class="text-center">
                                <form  action="" id="otp-form" name="otp-form"> 
                <div class="d-flex flex-row m-3"><input type="text" class="p-1" style="border-radius: 1rem;border: 0ch;" autofocus="" maxlength="4" name="otp" id="otp"required></div>
                                <small class="text-danger" id="otp_wrong"></small>
                <div><button class="btn btn-primary btn p-1 mb-2" type="submit" style="width: 5rem;">Submit</button></div>
                </form>
                        </div>
                <div class="text-center"><span class="d-block mobile-text">Didn't receive the code?</span><span
                                class="font-weight-bold  cursor">Resend</span></div>
        </div>
</div>


