




<div class="d-flex justify-content-center align-items-center container vh-100 vw-100">
        <div class="card py-5 px-3 d-flex justify-content-center align-items-center">
                <h5 class="">Email verification</h5><span class="mobile-text">Enter the code we just send on your Email
                        Address to continue <b class="text-danger"></b></span>
                        <div class="text-center">
                                <form  action="" id="otp-form" name="otp-form"> 
                <div class="d-flex flex-row m-3"><input type="text" class="p-3" autofocus="" maxlength="4" name="otp" id="otp"required></div>
                                <small class="text-danger" id="otp_wrong"></small>
                <div><button class=" user-login-btn p-2 mb-2" type="submit">Submit</button></div>
                </form>
                        </div>
                <div class="text-center"><span class="d-block mobile-text">Didn't receive the code?</span><span
                                class="font-weight-bold text-danger cursor">Resend</span></div>
        </div>
</div>