<section class="vh-100" style="background-color: #8e95a3;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5"><span style="font-size: small;">STICK<span style="color: rgb(197, 206, 69);">it</span>UP </span>Admin Login</h3>

            <div class="form-outline mb-4">
              <input type="email" id="adminEmail" placeholder="Email" class="form-control form-control-lg" />
             
            </div>

            <div class="form-outline ">
              <input type="password" id="adminPassword" placeholder="Password" class="form-control form-control-lg" />
             
            </div>
            <p class="small mb-3 pb-lg-2 d-flex flex-row-reverse"><a class="text-muted"  href="#!">Forgot password?</a></p>


            

            <button class="btn btn-primary btn-lg btn-block " style="width: 10rem;"  type="submit">Login</button>

            

            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>