{{>adminNavbar}}
<section style="margin-left: 14rem;">
    <div>
        {{>adminsidebar}}
    </div>
</section>
<section style="margin-left: 220px;  margin-top: 50px; ">
        <div class="container py-3 h-100">
            <div class="row d-flex justify-content-center align-items-center">
                <div>
                    <div class="card card-registration " style="border: none;" >
                        <div class=" d-flex justify-content-center g-0">

                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-4 text-uppercase"><u> Add Product </u></h3>


                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1m">Product name</label>
                                                <input type="text" id="form3Example1m"
                                                    class="form-control form-control-lg" />

                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example8">Product category</label>

                                        <div class="row">
                                            <div class="col-md-12">

                                                <select class="select p-2" style="width: 100%;">
                                                    <option value="1">select category... </option>
                                                    <option value="2">Option 1</option>
                                                    <option value="3">Option 2</option>
                                                    <option value="4">Option 3</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1m">Product Price</label>
                                                <input type="number" id="form3Example1m"
                                                    class="form-control form-control-lg" />

                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1m">Image of product</label>

                                                <input class="form-control" type="file" id="formFile">
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1m">Product
                                                    Description</label>
                                                <input type="text" id="form3Example1m" style="height: 110px;"
                                                    class="form-control form-control-lg" />

                                            </div>
                                        </div>

                                    </div>





                                    <div class="d-flex justify-content-center pt-3">

                                        <button type="button" class="btn btn-primary btn-lg ms-2 fontcolor rounded-pill login-btn"
                                            style="">Submit</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>