 <div class="d-flex justify-content-center align-items-center continer" style="height: 50rem; background:black">
      <div class="card py-5 px-3" style="width: 40rem;">
        <h3 class="m-0 d-flex justify-content-center " style="color: gray;"><b>Enter your email-ID</b></h3>
        <verification class="mobile-text">
            <p class="d-flex justify-content-center  pt-2" style="color: rgb(0, 0, 0);">we will send you 4-digit verification code</p> 
          
        <div class="d-flex flex-row mt-2 m-auto" style="width: 25rem">
          <input type="text" class="form-control  "/>
        </div>
       <div class="pt-1  d-flex justify-content-center align-items-center"> 
              <button class="btn btn-info  d-flex  mt-4"; style="background-color: rgb(181, 175, 175);" type="button" ><a style="color: black;text-decoration: none;" href="/user_1otp ">Generate OTP</a></button>
            </div>
    </div>
    
  