<div
  class="d-flex justify-content-center align-items-center continer"
  style="height: 50rem;background:black"
>
  <div class="card py-5 px-3 d-flex justify-item-center" style="width:40rem">
    <h3 class="m-0 d-flex justify-content-center" style="color: gray;">OTP
      verification</h3>
    <span class="mobile-text d-flex justify-content-center mt-2"><b>Enter the
        OTP sent to email
      </b>
      <b class="text-color">"sanay@gmail.com"</b>
    </span>
    <div class="d-flex flex-row mt-4">
      <input type="text" class="form-control" autofocus="" />
      <input type="text" class="form-control" />
      <input type="text" class="form-control" />
      <input type="text" class="form-control" />
    </div>
    <div class="text-center mt-5">
      <span class="d-block mobile-text" id="countdown"></span>
      <span class="d-block mobile-text" id="resend"></span>
    </div>
  </div>
</div>
<script src="javascripts/main.js"></script>